<mat-grid-list #grid [cols]="cols" rowHeight="580px" rowwidth="1550" gutterSize="20px">
    <div class="header">
        <mat-grid-tile>
            <div>
                <div>
                    <h1 class="title">Summer </h1><br>
                </div>
                <div>
                    <h1 class="title">Collection</h1>
                </div>

                <div class="space"></div>
                <div class="space"></div>
                <div class="des" style="width:400px">
                    <h1 class="des">Trendy summer accesories are the easy way to add style to your vacation wardrobe.</h1>

                </div>
            </div>
        </mat-grid-tile>

    </div>
</mat-grid-list>