<div class="footer">
    <mat-grid-list #grid [cols]="cols" rowHeight="300px" gutterSize="20px">
        <mat-grid-tile>
            <div class="firstDiv">

            </div>
        </mat-grid-tile>
        <mat-grid-tile>

        </mat-grid-tile>
        <mat-grid-tile>
            <div class="des1" style="width:300px">
                <p class="dtitle">Ring</p>
                <p class="subtitle">Gold Ring</p>
                <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>

                <p class="decoration"> $30 &nbsp;&nbsp;
                </p>
                <p class="price"> $20.00</p>

                <button class="button" mat-stroked-button color="gray">Buy now</button>


            </div>
        </mat-grid-tile>

    </mat-grid-list>


</div>