<mat-grid-list #grid [cols]="cols" rowHeight="350px" gutterSize="20px">
    <mat-grid-tile>
        <div class="firstDiv"></div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="destop" style="width:400px">
            <h1 class="destop">Less clothing more jewelry!</h1>
        </div>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list #grid [cols]="cols" rowHeight="350px" gutterSize="20px">

    <mat-grid-tile>
        <div class="des1" style="width:300px">
            <p class="dtitle">Neck Jewelry</p>
            <p class="subtitle">Multi Diamonds</p>
            <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>

            <p class="decoration"> $30.00 &nbsp;&nbsp;
            </p>
            <p class="price"> $20.00</p>

            <button class="button" mat-stroked-button color="warn">Buy new</button>


        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="secondDiv">

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="div4">

        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="des1" style="width:300px">
            <p class="dtitle">Ring</p>
            <p class="subtitle">Blue Diamonds</p>
            <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>

            <p class="decoration"> $30.00 &nbsp;&nbsp;
            </p>
            <p class="price"> $20.00</p>

            <button class="button" mat-stroked-button color="warn">Buy new</button>


        </div>
    </mat-grid-tile>




    <mat-grid-tile>
        <div class="des1" style="width:300px">
            <p class="dtitle"> Ring </p>
            <p class="subtitle">Multi Diamond Ring</p>
            <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>

            <p class="decoration"> $32.00 &nbsp;&nbsp;
            </p>
            <p class="price"> $25.99</p>

            <button class="button" mat-stroked-button color="warn">Buy new</button>


        </div>
    </mat-grid-tile>


    <mat-grid-tile>
        <div class="div2">

        </div>
    </mat-grid-tile>




    <mat-grid-tile>
        <div class="div5">

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="des1" style="width:300px">
            <p class="dtitle">Pearl</p>
            <p class="subtitle">White Pearl</p>
            <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>
            <p class="decoration"> $70.0 &nbsp;&nbsp;
            </p>
            <p class="price"> $29.99</p>
            <button class="button" mat-stroked-button color="warn">Buy new</button>
        </div>
    </mat-grid-tile>


    <mat-grid-tile>
        <div class="des1" style="width:300px">
            <p class="dtitle">Neck Jewelry</p>
            <p class="subtitle">Multi Diamonds</p>
            <p class="description"> The art of jewelre is a form of self expression. We offer a great range of accessories surch as jewelry</p>

            <p class="decoration"> $30.00 &nbsp;&nbsp;
            </p>
            <p class="price"> $19.00</p>

            <button class="button" mat-stroked-button color="warn">Buy new</button>



        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="div3">

        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="div6">

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="div8">

        </div>
    </mat-grid-tile>
</mat-grid-list>